<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHXfy3qwi6cXDG6dO1_Ts1PY8d85lWfog</string>
	<key>GCM_SENDER_ID</key>
	<string>144833836212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avdhsh.app</string>
	<key>PROJECT_ID</key>
	<string>hari-saurabh-hostel-28c02</string>
	<key>STORAGE_BUCKET</key>
	<string>hari-saurabh-hostel-28c02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144833836212:ios:f9eb6cb2b0905f8d3a93e1</string>
</dict>
</plist>